html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  max-width: 960px;
  margin: 30px auto;
  font-family: "Open Sans";
  color: #fff;
}

.container {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 50px;
  box-shadow: 0 0 5px #777;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  border: 2px solid #c5c5c5;
  height: 30px;
  width: 30px;
  border-radius: 1px;
  margin-top: 20px;
  position: relative;
}

.logo::before {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #c5c5c5;
  border-radius: 50%;
  position: absolute;
  top: -9px;
  left: 25%;
}

.align {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("forest.jpg");
  background-size: cover;
  background-position: center center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

#up {
  margin-bottom: 6770px;
}

.align p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: -2px;
}

small {
  text-align: center;
}

.profile {
  margin-top: auto;
  margin-bottom: auto;
}

.radius {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  display: grid;
  place-content: center;
  height: 40px;
  width: 40px;
  margin-bottom: 8px;
  margin-top: 7px;
  margin-left: 5px;
}

.photo {
  color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  border-radius: 50%;
  height: 200px;
}

.photo a {
  border-radius: 100px;
  text-decoration: none;
  padding: 10px 15px 10px 25px;
  background-color: #1f1f1f;
  color: #f4f4f4;
  text-align: center;
}

.photo .text {
  font-size: 14px;
  text-align: center;
  padding: 10px;
}

.photo .pic {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
  grid-column-gap: 10px;
}

.photo .radius {
  border: 1px solid #000;
}

/* @media screen and (max-width: 600px) {
  body {
    font-size: 62.5%;
  }
} */
